.nav-item {
  text-align: center;
  align-items: center;
}

nav-item {
  text-align: center;
  align-items: center;

}

.nav-link {
  text-align: center;
  align-items: center;

}

nav-link {
  text-align: center;
  align-items: center;
}